@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: InterVariable, sans-serif;
    }
  }

  /* underline for hovered links (text). but not ideal currently. */
  /* a:hover { */
  /*   @apply underline decoration-1 */
  /* } */
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf");
}
